*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
#container{
    width: 450px;
    height: 460px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
#big-img{
    width: 450px;
    height: 350px;
    position: relative;
}
#big-img img{
    width: 100%;
    height: 100%;
    position: absolute;
}
#small-img{
    width: 2000px;
    height: 110px;
    background: #cccccc;
    position: absolute;
    left: 0;
}
#small-img img{
    float: left;   /*去掉两个图片的间距*/
    width: 100px;
    height: 90px;
    padding: 10px 0 10px 10px;
    opacity: .3;
    filter: alpha(opacity= 30);
    cursor: pointer;
}
#prev, #next{
    background-image: url(imgs/btn.gif);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity= 0);
    cursor: pointer;
}
#prev{
    background-position: 0 0;
    left: 0;
    top: 50%;
    margin-top: -30px;
}
#next{
    background-position: 0 -60px;
    right: 0;
    top: 50%;
    margin-top: -30px;
}
#info{
    width: 440px;
    height: 20px;
    padding-right: 10px;
    background: #000;
    opacity: .3;
    filter: alpha(opacity= 30);
    position: absolute;
    bottom: 0;
    z-index: 1;
}
#info span{
    float: right;
    color: #ffffff;
    line-height: 20px;
}
#small-img .selected{
    opacity: 1;
    filter: alpha(opacity= 100);
}


